#main-menu{	margin:auto; width:80%;	background-color:#E1DFD9;	}

#menu-pane{	margin:auto; width:100%;}

/**ul{list-style-type:none;margin:0;padding:0;	overflow:hidden;}**/

.pane{float:left;}

/**span{display:block;	width:150px;font-weight:bold;color:#FFFFFF;
background-color:#4D79A3;text-align:center;	padding:4px;
text-decoration:none;text-transform:uppercase;}**/

h1{text-alight: right}

#marksheet{	margin:auto;width:86%;border: 2;}

#marksheetTable tr td{text-align:center;width: 170px;padding:8px;}

tr:nth-child(even) {background: #CCC}

tr:nth-child(odd) {background: #FFF}

#thead th{background-color:#4D79A3;color:white;}

#submit{padding:4px;margin:4px;background-color:#4D79A3; width: 170px;
 height: 50px;font-weight:bold;color:#FFFFFF;text-align:center;	padding:8px;
text-decoration:none;text-transform:uppercase;}

#filter{margin:auto;	width:85%;}	

select{padding:4px;margin:8px;}

#right{top:1;float:right;width:20%;height:500px;	background-color:red;}