{% extends "base.html" %}

{% block title %}Squirrel Marking - Assessment View{% endblock %}
{% block includes %}<link href="{{ STATIC_URL }}/static/css/assStyle.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block menu_shortcuts %}
<ul>
<li><a href="/assessmentView/">Home</a></li>
<li><a href="/Reporting_Main/">Reporting</a></li>
<li><a href="/marks-management/">Marks Management</a></li>
<li><a href="/assessmentManager/">Create/Edit Assessment</a></li>
</ul>
{% endblock %}
{% block content_title %}<h1 id="content_title">Assessment View</h1>{% endblock %}
{% block content %}
<a href="/assessmentManager/">Create/Edit Assessment</a>
</br>
<ul id="list">

</ul>
</br>

{% endblock %}