<!DOCTYPE html>
<html>
	<body>
		<div class="displayContainerClass" id="displayContainer">
			<h2> COS 332 - Prac 4 </h2>
			<div id="reportsDisplay">
				<div id="statisticsContainer">
					<h3> Statistics &amp; Freqency Analysis </h3>
					<div id="statistics">
						<h4> Statistics </h4>
						<table id="statisticsTable" name="StatisticsTable">
							<td id="statisticsColumn">
								<tr> Mean: <span id="meanValue"> 45.67 </span></tr><br/>
								<tr> Median: <span id="medianValue"> 54 </span></tr><br/>
								<tr> Mode: <span id="modeValue"> 65 </span></tr><br/>
								<tr> Range: <span id="rangeValue"> 78 </span></tr><br/>
							</td>
						</table>
					</div>
					<div id="frequencyAnalysis">
						<h4> Frequency Analysis </h4>
						<div id="imageContainer">
							<img src="{{ STATIC_URL }}/static/img/pieChartDummy.jpg" alt='image cannot be displayed' height='300' width='300'/>
						</div>
					</div>
					<div id="renderingOptions">
						<h4> Rendering options </h4>
						<div id="renderAsPDF"> <input class="renderButton" id="SaveAsPDFBtn" name="SaveAsPDf" type="button" value="Save as PDF"> </div><br>
						<div id="renderAsCSV"> <input class="renderButton" id="SaveAsPDFBtn" name="SaveAsCSV" type="button" value="Save as CSV"> </div>
					</div>
				</div>
				<div id="chartsContainer">
				
				</div>
			</div>
		</div>
	</body>
</html>